body{
    background-image: url("../images/coffee_beans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    min-height: 100vh;
    background-position: center;
}

#header{
    background: linear-gradient(to right, #382b1c 0%,#503926 50%,#4a3522 51%,#6f4e35 100%);
    font: white;
}

#score{
    margin-left: 10px;
    font-weight: bold;
}
.addins {
    height:250px;
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row{
    margin: 20px;
}

#crystals{
    border-style: dotted;
    border-color: gold;
    border-width: 2px;
}

#numberguessed{
    background-color:mediumspringgreen;
}

